[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    trustctime = false
    ignorecase = false
    editor = vim

[color]
    ui = true

[push]
    default = matching

[include]
  path = ~/.gitconfig.local
