[user]
    name = David Bagonyi
    email = david.bagonyi@gmail.com

[github]
    user = bagonyi
    token = _TOKEN_

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    trustctime = false
    ignorecase = false
    editor = vim

[color]
    ui = true

[push]
    default = matching
